* {
    font-family: sans-serif;
}

#header_button  {
  background-color: transparent;
  border-color: transparent;
  color: #7CFC00;
}

/* Header Buttons */
a.caml_link.caml_request_node {
    color: white;
    font-weight: bold;
}

a.caml_request_node {
    color: white;
    font-weight: bold;
}

#dark_section {
  width: 100%;
  height: 400px;
  background: #634271;
  background: linear-gradient(to top right, #333, #634271);
  margin-bottom: 25px;
}

#main_page_header {
  /*border: 2px solid red;*/
  margin-top: 50px;
  padding-top: 50px;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  height: 175px;
  width: 100%;
}

#tagline {
    width: 800px;
    color: #FFFFFF;
    font-style: italic;
    margin: auto;
    text-align:center;
}

#infobox {
    border: 2px solid #FFFFFF;
    width: 300px;
    margin: 45px auto auto;
    border-radius: 5px;
    text-align: center;
}

#infobox_header {
    color: #FFFFFF;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

#infobox_signup_btn {
    background-color: #333;
    margin-bottom: 20px;
}

#main_table {
    margin: auto;
    width: 800px;
}

#login_form {
  background-color: white;
  /*border: 5px solid red;*/
  width: 400px;
  margin: 0px auto;
  margin-top: 80px;
}

#toolbar {
    width: 800px;
    height: 45px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #333;
    border-bottom: 0px;
}

#ColorPicker {
    width: 45px;
    height: 35px;
}

#ColorPickerDiv {
    width: 50px;
    height: 40px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 2px;
    margin-bottom: auto;
}

#ColorPickerBtn {
    width: 45px;
    height: 35px;
}

#ColorPickerBtnDiv {
    width: 50px;
    height: 40px;
    display: inline-block;
    float: left;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: auto;
}

button#ColorPickerBtn.glyphicon.glyphicon-tint {
  font-size: 20px
}